[flake8]
max-line-length = 120
exclude = .?*,dist,build,src,wheel,*migrations,manage.py,docs,deployment,pip,artifacts,build-scripts
; Cyclomatic complexity check with mccabe.
max-complexity = 10
builtins-exclude = id
