Django==2.2.20
pytz==2019.1
sqlparse==0.3.0
django-environ==0.4.5
django-waffle==0.16.0

# django-extensions provides shell_plus, among other things
django-extensions==2.2.1

# static files handling
whitenoise==4.1.2

# database
psycopg2==2.8.3

# coinbase pro api client
#cbpro
git+https://github.com/JonasSteur/coinbasepro-python.git@735aeb09d5314c686c27bef4568a7440df3347df#egg=cbpro
sortedcontainers==2.1.0
requests==2.22.0
urllib3==1.25.3
six==1.12.0
websocket-client==0.56.0
pymongo==3.8.0
chardet==3.0.4
certifi==2019.6.16
idna==2.8

# redis
redis==3.2.1

# celery
celery==4.3.0
kombu==4.6.3
billiard==3.6.0
amqp==2.5.0
vine==1.3.0
django-celery-results==1.0.4
